<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Status</title>
    <style>
        body {
            text-align: center; /* Center-align the text */
        }
        img {
            width: 400px; /* Adjust the width to make the image bigger */
            display: block; /* Center-align the image */
            margin: 0 auto; /* Center-align the image */
        }
    </style>
</head>
<body>
<img src="https://media.tenor.com/Z_Ah8rkdZ4YAAAAC/walking-code.gif" alt="GIF">
<p style="font-size: 26px; font-weight: bold;">ALL SYSTEMS RUNNING...</p>
</body>
</html>
